<!DOCTYPE html>
<html lang="en">
    <head>
        <title>URL Shortner</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="index.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    </head>
    <body>

        <header class="header">
            <p class="head_Title head_p">URL Shortner</p>
            <navbar class="nav">

            </navbar>
        </header>


        <main class="main">
            <p>short your url</p>
            <label for="url"></label>
            <input type="text" placeholder="Enter your URL" name="url" id="url">
            <i class="fa-brands fa-linkedin" style="color: #ffffff;"></i>
            <button class="button" onclick="geturl()">short</button>
            <p id="fetchedUrl"></p>
        </main>


        <footer class="footer">
            <p >URL SHORTNER</p>
            <a href="https://www.linkedin.com/in/shakti-prasad-nahak-b5274a218/"><i class="fa-brands fa-linkedin" ></i></a>
            <a href="https://github.com/mindhacker1098"><i class="fa-brands fa-github" ></i></a>
            <a href="mailto: mindhacker1098@gmail.com"><i class="fa-sharp fa-solid fa-envelope" ></i></a>
            <p class="footerShort">copyright @2023 All rights reserved | This template made by mindhacker</p>
        </footer>

        <script src="index.js" >


        </script>
</body>
</html>